<app-nav-bar></app-nav-bar>

<div class="container mt-6">
  <p class="text-4xl font-semibold">Where to?</p>
  <div class="flex justify-between">
    <div>
      <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name"
        [showClear]="true" placeholder="Select a Country">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px" /> -->
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px" />
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div>
      <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
    </div>

    <div>
      <div class="dropdown dropdown-bottom">
        <input tabindex="0" role="button" class="btn m-1" placeholder="Passengers" readonly="true" />
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-primary-700 flex items-center py-10 mt-5 rounded-md justify-evenly px-6">
    <p class="font-bold text-3xl text-white w-[30%]">Find and book your perfect stay</p>
    <div class="flex items-center space-x-4">
      <div class="rounded-lg py-5 px-4 bg-primary-400">
        <p class="w-[80%] text-white">Earn rewards on every night you stay</p>
      </div>
      <div class="rounded-lg py-5 px-4 bg-primary-400">
        <p class="w-[80%] text-white">Earn rewards on every night you stay</p>
      </div>
      <div class="rounded-lg py-5 px-4 bg-primary-400">
        <p class="w-[80%] text-white">Earn rewards on every night you stay</p>
      </div>
    </div>

  </div>
</div>
